{% extends 'base.html' %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<form action="/contact" method="post" class="from-contact">
<p><label>Название соревнования: </label> <input type="text" name="name of competition" value="" requied />
<p><label>Дата: </label> <input type="text" name="date" value="" requied />
<p><label>Наименование организатора:</label> <input type="text" name="organizer" value="" requied />
<p><label>Место проведения: </label> <input type="text" name="place" value="" requied />
<p><input type="submit" value="Отправить" />
</form>
{% endblock %}


